
  <h1>
    Welcome to {{title}}!
  </h1>


<hr>


<h2 [ngStyle] = "myStyle"> This is my ngStyle text format.</h2>
<hr>

  <button (click)="switchOff()" >Switch ON/OFF</button>
  <h2 *ngIf = "showText" >This text is for *ngIf condition true/flase</h2>

  <hr>
  

  <div [ngSwitch] = "textColor">
    <h2 *ngSwitchCase ="'RED'" style="color: red">This is a red color text.</h2>
    <h2 *ngSwitchCase ="'BLUE'" style="color: blue">This is a blue color text.</h2>
    <h2 *ngSwitchCase ="'GREEN'" style="color: green">This is a green color text.</h2>
  
  </div>

  <hr>
<ul>
  <li *ngFor="let cricketer of players">{{cricketer.name}} - {{cricketer.city}}</li>
</ul>
<hr>

<table cellpadding="5" border="1">
  <thead>
    <th>Name</th>
    <th>City</th>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{player.name}}</td>
      <td>{{player.city}}</td>
    </tr>
  </tbody>
</table>
<hr>
<a [routerLink] = "['/']">Home</a>
<a [routerLink] = "['/java']">Java</a>
<a [routerLink] = "['/android']">Android</a>

  <div class="outer-outlet">
    <router-outlet></router-outlet> 
  </div>
<hr>

<h2>Employees data "service" demo with local(static) data.</h2> 

 <h3>Name:</h3><h5>{{employeeObj.name}}</h5>
 <h3>City:</h3><h5>{{employeeObj.city}}</h5>
 <h3>Age</h3><h5>{{employeeObj.age}}</h5>
 <input type="text" [(ngModel)]="empId">
 <button (click)="getEmployeeDetails()" >Get Employee details</button>
 <hr>
 <h2>Countries detailes "service" demo with Dynamic data through HTTP GET service.</h2>

 <h3>Name:</h3><h5>{{countryObj.name}}</h5>
 <h3>Capital:</h3><h5>{{countryObj.capital}}</h5>
 <h3>Currency</h3><h5>{{countryObj.currencies[0].code}} - {{countryObj.currencies[0].symbol}} </h5>
 <input type="text" [(ngModel)]="countryName">
 <select [(ngModel)] = "countryName">
    <option *ngFor = "let country of countriesList" value="{{ country.name }}">{{ country.name }}</option>
 </select>
 <button (click)="getCountryInfo()" >Get Country details</button> 
 <img src="{{countryObj.flag}}" width="350" height="300">

 <hr>
